@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins' , sans-serif;
  font-color: #222;
}

.navbar{
  padding:.8rem;
}

.navbar-nav li{
  padding-right: 20px;
}



.nav-link{
  font-size: 1.1em !import;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
  position: absolute;
  top:30;
  transform: translateY(-50%);
}

.couresel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px #000;
}



.btn-primary{
  background-color: #6648b1;
  border:1px solid #6648b1;
}

.btn-primary:hover {
  background-color: #6648b1;
  border:1px solid #563d7c;
}


.jumbotron{
  padding: 1rem;
  border-radius: 0;

}

.padding{
  padding-bottom: 2rem;
}

.welcome{
  width:75%;
  margin: 0 auto;
  padding-top: 2rem;
}


.welcome hr{
  border-top: 2px solid #b4b4b4;
  width:95%;
  margin-top:.3rem;
  margin-bottom: 1rem;
}

.gif{
  max-width: 100%;

}



.social a{
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook{
  color: #3b5998;
}

.fa-twitter{
  color: #00aced;
}

.fa-youtube{
  color: #bb0000;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-youtube:hover{
  color: #d5d5d5;
}


.modal-content  img{
  width:100%;
}
.modal-content h4 {
    color: #0f2453;
    text-align: center;
    font-size: 26px;
    margin-bottom: .5em;
    text-transform: uppercase;
}
.modal-content h4 span {
    color: #ffce14;
}
.modal-content h5 {
    color: #000;
    padding-top: 15px;
    font-size: 22px;
  letter-spacing: 1px;
}
.modal-content p {
    color: #636363;
    font-size: 14.5px;
    letter-spacing: .8px;
    line-height: 32px;
    padding-top: 10px;
  word-spacing: .5px;
}

.modal-header {
    padding: 30px;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light{
  border-top:1px solid #d5d5d5;
  width:75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a{
  color: #d5d5d5;
}

hr.light-100{
border-top:1px solid #d5d5d5;
  width:100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.c1
{
  font-family: arial;
}

/*---Media Queries --*/
@media (max-width: 992px) {
.social a{
  font-size: 4em;
  padding: 2rem;
  }
}



@media (max-width: 768px) {
  
  .carousel-caption{
  
  top:20px;
  
}

.couresel-caption h1 {
  font-size: 350%
}




.display-4{
  font-size: 200%;
}
.social a{
  font-size: 2.5em;
  padding: 1.2rem;
  }

    .modal-dialog {
    width: 80%;
    margin: 2.5em auto 0;
  }
}


@media(max-width:640px){

  .modal-content h4 {
    font-size: 22px;
  }
  .modal-content h5 {
    font-size: 20px;
  }
  .modal-content p {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
   .carousel-caption{
  
  top:20px;
  
}

.display-2
{
  visibility: hidden;
}

.couresel-caption h1 {
  font-size: 250%;
  visibility:hidden;

}





.carousel-indicators{
  display: none;
}

.display-4{
  font-size: 160%;
}
.social a{
  font-size: 2em;
  padding: .7rem;
  }
}
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








